body
{
	background:#EEEEEE;			/* Main Body Backgroud */
}

header h1
{
	letter-spacing: 3px;		/* PARAM'S PORTFLIO HEADING */
	font-weight: 300;
	font-size: 24px;
	animation: a1 1s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes a1
{
	0%
	{
		letter-spacing: 10px;
	}

	100%
	{
		letter-spacing: 3px;
	}
}

header i 						/* Nav ICONS Styling */
{
	border-radius: 100px;
	border: 1px solid #000000;
	overflow: hidden;
	box-sizing: border-box;
	width: 50px;
	height:50px;
	transition: box-shadow 0.5s;
}

header a:link,a:visited,a:active,a:hover
{
	text-decoration: none;
	color: black;
}




header i.active
{
	background-color: #000000;
	color: #FFFFFF;
}

header i:hover
{
	border:2px #ffa001 inset;
	box-shadow: 0px 0px 10px #ffa001;
}

.halfBcg1
{
	background-color: #ffa001;
	background-image: linear-gradient(to left,#ffdd01,#ffdd01,#ff9201);
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	animation: a2 10s linear infinite;
	background-size:300%;
}


.halfBcg2
{
	background-color: #03e04d;
	background-image: linear-gradient(to right,#03f275,#03df4b,#03df4b);
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	animation: a2 10s linear infinite;
	background-size:200%;
}

@keyframes a2
{
	0%
	{
		background-position: 0% 0%;
	}

	50%
	{
		background-position: 100% 100%
	}

	100%
	{
		background-position: 0% 0%
	}

	
}

.dpLayer
{
	position: absolute;
	height: 100px;
}

.dpImage
{
	width: 200px;
	transform: translate(0px,-60px);
	box-shadow: 0px 0px 5px #303030;
	border-radius: 100px;
}

.halfBcg1 i, .halfBcg2 i
{
	border-radius: 100px;
	overflow: hidden;
	box-sizing: border-box;
	width: 55px;
	height:55px;
	background: #EEEEEE;
	transition: box-shadow 0.5s, color 0.5s, text-shadow 0.5s;
}

.halfBcg1 a, .halfBcg2 a
{
	margin: 25px;
}

.halfBcg1 i:hover, .halfBcg2 i:hover
{
	color:#4169e1;
	box-shadow: 0px 0px 20px #EEEEEE;
	text-shadow: 0px 0px 3px #87ceeb;
}

div[class*="halfBcg"] a:link
{
	color: #000000;
}


a.button1
{
	transform: translate(0px,-25px);
	height: 50px;
	width: 150px;
	border-radius: 40px;
	font-size: 20px;
	background:#000000;
	color: #EEEEEE;
	border: 0px solid;
	letter-spacing: 2px;
	background-image: linear-gradient(to right,#505050,#000000);
	transition: box-shadow 0.5s;
}

a.button1:hover
{
	box-shadow: 0px 0px 20px #000000;
	cursor: pointer;
}


@media screen and (min-width: 576px)
{
	header h1
	{
		font-size: 40px;
	}

	header i
	{
		transform: scale(1.3);
	}

	.halfBcg1, .halfBcg2
	{
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 50px;
	}

	.halfBcg1 i, .halfBcg2 i
	{
		transform: scale(1.2);
	}

	
}

@media screen and (min-width: 768px)
{
	.halfBcg1 i, .halfBcg2 i
	{
		transform: scale(1.4);
		margin: 0px;
	}
}

@media screen and (min-width: 992px)
{
	.halfBcg1, .halfBcg2
		{
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0px;
		}

	.halfBcg1 a, .halfBcg2 a
	{
		margin: 50px;
	}

	a.button1
	{
		width: 200px;
		height: 60px;
		transform: translate(0px, -30px);
		letter-spacing: 3px;
	}
}