body
{
	background:#EEEEEE;			/* Main Body Backgroud */
}

a:link
{
	color: black;
}




header h1
{
	letter-spacing: 3px;		/* PARAM'S PORTFLIO HEADING */
	font-weight: 300;
	font-size: 24px;
	animation: a1 1s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
}


@keyframes a1
{
	0%
	{
		letter-spacing: 10px;
	}

	100%
	{
		letter-spacing: 3px;
	}
}

.sticky
{
  height: 100px;
  background:rgba(238,238,238,0.95);
  z-index: 1;
  position: sticky;
  top:0;
}

.sticky i 						/* Nav ICONS Styling */
{
	border-radius: 100px;
	border: 1px solid #000000;
	overflow: hidden;
	box-sizing: border-box;
	width: 50px;
	height:50px;
	transition: box-shadow 0.5s;
}

.sticky a:link,a:visited,a:active,a:hover
{
	text-decoration: none;
	color: black;
}




.sticky i.active
{
	background-color: #000000;
	color: #FFFFFF;
}

.sticky i:hover
{
	border:2px #ffa001 inset;
	box-shadow: 0px 0px 10px #ffa001;
}

.halfBcg1
{
	background-color: #ffa001;
	background-image: linear-gradient(to left,#ffdd01,#ffdd01,#ff9201);
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation: a2 10s linear infinite;
	background-size:300%;
}


.halfBcg2
{
	background-color: #03e04d;
	background-image: linear-gradient(to right,#03f275,#03df4b,#03df4b);
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation: a2 10s linear infinite;
	background-size:200%;
}

@keyframes a2
{
	0%
	{
		background-position: 0% 0%;
	}

	50%
	{
		background-position: 100% 100%
	}

	100%
	{
		background-position: 0% 0%
	}

	
}

.dpLayer
{
	position: absolute;
	height: 100px;
}

.dpImage
{
	width: 200px;
	transform: translate(0px,-60px);
	box-shadow: 0px 0px 5px #303030;
	border-radius: 100px;
}

.halfBcg1 i, .halfBcg2 i
{
	border-radius: 100px;
	overflow: hidden;
	box-sizing: border-box;
	width: 55px;
	height:55px;
	background: #EEEEEE;
	transition: box-shadow 0.5s, color 0.5s, text-shadow 0.5s;
}

.halfBcg1 a, .halfBcg2 a

{
	margin:20px 0px 0px 0px;
}

.halfBcg1 a:nth-child(1), .halfBcg2 a:nth-child(1)
{
	margin:90px 0px 0px 0px;
}


.halfBcg1 i:hover, .halfBcg2 i:hover
{
	color:#4169e1;
	box-shadow: 0px 0px 20px #EEEEEE;
	text-shadow: 0px 0px 3px #87ceeb;
}

div[class*="halfBcg"] a:link
{
	color: #000000;
}


a.button1
{
	transform: translate(0px,-25px);
	height: 50px;
	width: 150px;
	border-radius: 40px;
	font-size: 17px;
	background:#000000;
	color: #EEEEEE;
	border: 0px solid;
	letter-spacing: 2px;
	background-image: linear-gradient(to right,#505050,#000000);
	transition: box-shadow 0.5s;
}

a.button1:hover
{
	box-shadow: 0px 0px 20px #000000;
	cursor: pointer;
}

q
{
	font-size: 20px;
	font-style: italic;
	margin:20px;
}

.qouteBcg
{
	background:#DDDDDD;
	background-image: linear-gradient(to right,#EEEEEE,#e6f7ff,#EEEEEE);
	background-size: 600%;
	background-repeat: no-repeat;
	animation: a3 20s linear infinite;
}

@keyframes a3
{
	0%
	{
		background-position: 0%
	}

	50%
	{
		background-position: 100%
	}

	100%
	{
		background-position: 0%
	}
}

.dashBcg
{
	margin-top:50px;
	min-height: 300px; 
	background:#000000;
	background-image: linear-gradient(to top right,#000000,#505050);
	background-size:300%;
	animation: a2 10s linear infinite;
}

.dashBcg h2
{
	color: white;
	font-weight: 300;
	letter-spacing: 4px;
	font-size: 24px;
}

.dashBcg h6
{
	font-size: 13px;
	transform: translate(0,30px);
	letter-spacing: 2px;
}

.dashCard
{
	height: 200px;
	background: rgba(255,255,255,0.9);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.5s;
}

.dashCard:hover
{
	transform:scale(1.05);
	box-shadow:0px 0px 10px white,
	 		   0px 0px 20px #03e354;
	background: rgba(255,255,255,1);
}

.dashCard:hover .iColor
{
	color:#03e354;
	text-shadow: 0px 0px 5px #90EE90;
}

.dashCard:hover h6
{
	font-weight: bold;
}

.dashCard i
{
	font-size: 80px;
	color:#808080;
	transition: all 0.5s;
}

.skillBcg
{
	background-color: #EEEEEE;
	/*background-color: #ffa001;
	background-image: linear-gradient(to left,#ffdd01,#ffdd01,#ff9201);
	/*background-image: linear-gradient(to top right,#000000,#505050);*/
	animation: 10s a2 linear infinite;
	background-size: 200%;
}

.skillBcg h2
{
	color: #000000;
	font-weight: 500;
	letter-spacing: 4px;
	font-size: 24px;
}


meter::-webkit-meter-bar {
    background:rgba(255,255,255,0.3);
    border: 1px solid #CCC;
    border-radius: 30px;
    transition: all 0.5s;
}

meter::-webkit-meter-bar:hover
{
	box-shadow: 0px 0px 10px rgba(255,255,255,0.7);
}

meter
{
	width: 80%;
	height: 40px;
	border-radius: 30px;
}



meter::-webkit-meter-optimum-value {
    background: orange;
    background-image: linear-gradient(to right,#ffdd01,#ff9201);
    border-radius: 30px;
    box-shadow: 0px 0px 20px #ff9201;
}

.high::-webkit-meter-optimum-value
{
    background: green;
    background-image: linear-gradient(to right,#03f275,#03df4b);
    border-radius: 30px;
    box-shadow: 0px 0px 20px #03df4b;
}


.skillCard
{
	height: 500px;
	overflow: hidden;
	box-sizing: border-box;
	background: #303030;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	transition: all 0.5s;
}

.skillCard:hover
{
	box-shadow: 0px 0px 20px black;
	transform: scale(1.025);
}

.skillCard p
{
	color: #CCCCCC;
	letter-spacing: 2px;
	font-size: 15px;
}

.skillCard h5
{
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 19px;
	font-weight: 300;
	text-transform: uppercase;
}

.edu-Line
{
	width: 20px;
	height: 850px;
	background: grey;
	border-radius: 100px;
	transform: translate(5px,0px);"
}

.edu-Card
{
	background:#EEEEEE;
	height: 30px;
	width: 30px;
	border-radius: 100px;
	box-shadow: 0px 0px 5px #EEEEEE;
}

.edu-Card > div
{
	transform: translate(50px,0px);
	color: white;
}

.edu-Card > div > span:nth-child(1)
{
	color:#AAAAAA;
}

.edu-Card > div > span:nth-child(2)
{
	color:#EEEEEE;
	font-size: 12px;
}

.edu-Card dt
{
	color: #AACAAA;
}


.active-edu-Card
{
	background: #03f275;
	box-shadow: 0px 0px 20px #03f275;
}



@media screen and (min-width: 576px)
{
	header h1
	{
		font-size: 40px;
	}

	.sticky i
	{
		transform: scale(1.3);
	}

	.halfBcg1, .halfBcg2
	{
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 50px;
	}

	.halfBcg1 i, .halfBcg2 i
	{
		transform: scale(1.2);
	}	

	

	.halfBcg1 a:nth-child(1), .halfBcg2 a:nth-child(1)
	{
		margin:0px 25px 30px 0px;
	}

	.halfBcg1 a:nth-child(2), .halfBcg2 a:nth-child(2)
	{
		margin:0px 0px 30px 25px;
	}

	
}

@media screen and (min-width: 768px)
{
	.halfBcg1 i, .halfBcg2 i
	{
		transform: scale(1.4);
		margin: 0px;
	}

	.edu-Card > div > span:nth-child(2)
	{
		color:#EEEEEE;
		font-size: 15px;
	}
}

@media screen and (min-width: 992px)
{
	.halfBcg1, .halfBcg2
		{
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0px;
		}

	.halfBcg1 a:nth-child(1), .halfBcg2 a:nth-child(1)
	{
		margin: 0px 50px 0px 0px;
	}

	.halfBcg1 a:nth-child(2), .halfBcg2 a:nth-child(2)
	{
		margin: 0px 0px 0px 50px;
	}

	a.button1
	{
		width: 200px;
		height: 60px;
		transform: translate(0px, -30px);
		letter-spacing: 3px;
		font-size: 20px;
	}

	.dashCard
	{
		height: 250px;
	}


	.dashBcg h2
	{	
		font-size: 30px;
	}

	.dashBcg h6
	{
		font-size: 15px;
	}

	.dashCard:hover
	{
		transform:scale(1.1);
	}

	.skillBcg h2
	{
		font-size: 30px;
	}
}


@media screen and (min-width: 1200px)
{
	.dashCard
	{
		height: 300px;
	}

}